* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 0 18px;
  background-color: #2571b7;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.header__nav__logo {
  display: none;
}
.header__nav__menu-burger {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.header__nav__menu-burger__line {
  background-color: #ffffff;
  width: 24px;
  height: 2px;
}
.header__nav__buttons__lorem {
  color: #ffffff;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 20px;
}
.header__nav__buttons__lorem--common {
  display: none;
}
.header__nav__buttons__lorem--highlighted {
  background-color: #002050;
  padding: 5px 15px 4px;
}

.banner {
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 0 18px;
}
.banner__message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  color: #ffffff;
  padding-top: 137px;
}
.banner__message__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.banner__message__content__title {
  font-size: 42px;
  line-height: 56px;
  font-weight: 400;
}
.banner__message__content__subtitle {
  font-size: 24px;
  line-height: 34px;
  font-weight: 400;
  text-align: center;
}
.banner__message__button {
  border: none;
  background-color: #00a4ef;
  font-size: 21px;
  line-height: 28px;
  padding: 12px 32px;
  color: #ffffff;
}
.banner__bottom-icons {
  padding-top: 100px;
  padding-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner__bottom-icons__down-arrow {
  display: none;
}
.banner__bottom-icons__logo {
  width: 130px;
  height: 39px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  gap: 24px;
  color: #737373;
  margin-top: 60px;
  padding: 0 24px;
}
.about__first-p--highlight {
  color: #737373;
  font-weight: 400;
}

.targets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px 54px;
  margin-top: 33px;
  gap: 27px;
}
.targets__title {
  font-size: 24px;
  line-height: 32px;
  color: #2571b7;
  font-weight: 400;
}
.targets__description {
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.targets__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #ffffff;
}
.targets__container__element {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 21px 18px;
  gap: 11px;
}
.targets__container__element__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 6px;
}
.targets__container__element__content__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.targets__container__element__content__description {
  font-size: 12px;
  line-height: 18px;
}
.targets__container__element--blue {
  background-color: #0072c6;
}
.targets__container__element--blue-night {
  background-color: #2c5898;
}
.targets__container__element--green {
  background-color: #207245;
}
.targets__container__element--red {
  background-color: #cb4a32;
}
.targets__container__element--purple {
  background-color: #733781;
}
.targets__container__element--blue-sky {
  background-color: #00aff0;
}
.targets__container__element:nth-last-child(-n+4) {
  display: none;
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  padding: 0 18px;
  gap: 27px;
}
.badges__title {
  font-size: 24px;
  font-weight: 400;
  color: #2571b7;
}
.badges__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
}
.badges__container__element {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
.badges__container__element__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
}
.badges__container__element__text__subtitle {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.badges__container__element__text__subtitle--hands {
  color: #7fba00;
}
.badges__container__element__text__subtitle--shield {
  color: #00a4ef;
}
.badges__container__element__text__subtitle--computer {
  color: #ffb900;
}
.badges__container__element__text__divider-in {
  display: none;
}
.badges__container__element__text__description {
  font-size: 12px;
  line-height: 18px;
  color: #737373;
}
.badges__container__element__text__button {
  background-color: transparent;
  border: 1px solid;
  font-size: 12px;
  line-height: 16px;
  padding: 7px 6px;
}
.badges__container__element__text__button--hands {
  color: #7fba00;
  border-color: #7fba00;
}
.badges__container__element__text__button--shield {
  color: #00a4ef;
  border-color: #00a4ef;
}
.badges__container__element__text__button--computer {
  color: #ffb900;
  border-color: #ffb900;
}
.badges__container__divider-out {
  width: 100%;
  background-color: #dedede;
  height: 3px;
}

.boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 18px;
  gap: 33px;
}
.boards__title {
  justify-self: flex-start;
  font-size: 24px;
  line-height: 36px;
  height: 68px;
  color: #2571b7;
  font-weight: 400;
}
.boards__elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.boards__elements__element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  padding: 30px 24px;
  border: 3px solid #dedede;
}
.boards__elements__element:nth-last-child(-n+3) {
  border-top: 0px;
}
.boards__elements__element__subtitle {
  font-size: 15px;
  line-height: 20px;
  color: #f25022;
  font-weight: 400;
}
.boards__elements__element__paragraph {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #737373;
}

/*# sourceMappingURL=styles.css.map */
