* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  padding: 0 18px;
  background-color: #2571b7;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &__logo {
      display: none;
    }

    &__menu-burger {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &__line {
        background-color: #ffffff;
        width: 24px;
        height: 2px;
      }
    }

    &__buttons {
      &__lorem {
        color: #ffffff;
        background-color: transparent;
        border: none;
        font-size: 14px;
        line-height: 20px;

        &--common {
          display: none;
        }

        &--highlighted {
          background-color: #002050;
          padding: 5px 15px 4px;
        }
      }
    }
  }
}

.banner {
  background-image: url("/assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 0 18px;

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: #ffffff;
    padding-top: 137px;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &__title {
        font-size: 42px;
        line-height: 56px;
        font-weight: 400;
      }

      &__subtitle {
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
        text-align: center;
      }
    }

    &__button {
      border: none;
      background-color: #00a4ef;
      font-size: 21px;
      line-height: 28px;
      padding: 12px 32px;
      color: #ffffff;
    }
  }

  &__bottom-icons {
    padding-top: 100px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__down-arrow {
      display: none;
    }

    &__logo {
      width: 130px;
      height: 39px;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  gap: 24px;
  color: #737373;
  margin-top: 60px;
  padding: 0 24px;

  &__first-p {
    &--highlight {
      color: #737373;
      font-weight: 400;
    }
  }
}

.targets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px 54px;
  margin-top: 33px;
  gap: 27px;

  &__title {
    font-size: 24px;
    line-height: 32px;
    color: #2571b7;
    font-weight: 400;
  }

  &__description {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #ffffff;

    &__element {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 21px 18px;
      gap: 11px;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 6px;

        &__title {
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
        }

        &__description {
          font-size: 12px;
          line-height: 18px;
        }
      }

      &--blue {
        background-color: #0072c6;
      }

      &--blue-night {
        background-color: #2c5898;
      }

      &--green {
        background-color: #207245;
      }

      &--red {
        background-color: #cb4a32;
      }

      &--purple {
        background-color: #733781;
      }

      &--blue-sky {
        background-color: #00aff0;
      }

      &:nth-last-child(-n + 4) {
        display: none;
      }
    }
  }
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
  padding: 0 18px;
  gap: 27px;

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: #2571b7;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;

    &__element {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 18px;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        &__subtitle {
          font-size: 15px;
          line-height: 20px;
          font-weight: 400;

          &--hands {
            color: #7fba00;
          }

          &--shield {
            color: #00a4ef;
          }

          &--computer {
            color: #ffb900;
          }
        }

        &__divider-in {
          display: none;
        }

        &__description {
          font-size: 12px;
          line-height: 18px;
          color: #737373;
        }

        &__button {
          background-color: transparent;
          border: 1px solid;
          font-size: 12px;
          line-height: 16px;
          padding: 7px 6px;

          &--hands {
            color: #7fba00;
            border-color: #7fba00;
          }

          &--shield {
            color: #00a4ef;
            border-color: #00a4ef;
          }

          &--computer {
            color: #ffb900;
            border-color: #ffb900;
          }
        }
      }
    }
    &__divider-out {
      width: 100%;
      background-color: #dedede;
      height: 3px;
    }
  }
}

.boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 18px;
  gap: 33px;

  &__title {
    justify-self: flex-start;
    font-size: 24px;
    line-height: 36px;
    height: 68px;
    color: #2571b7;
    font-weight: 400;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      padding: 30px 24px;
      border: 3px solid #dedede;

      &:nth-last-child(-n + 3) {
        border-top: 0px;
      }

      &__subtitle {
        font-size: 15px;
        line-height: 20px;
        color: #f25022;
        font-weight: 400;
      }

      &__paragraph {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        color: #737373;
      }
    }
  }
}

.pannels {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    padding: 0 18px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 18px;
  gap: 27px;
  width: 100%;
  box-sizing: border-box;

  &__description {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
    padding: 15px 18px;
    max-width: 324px;
    width: 100%;
    background-color: #e6e6e6;
    box-sizing: border-box;

    &__field {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
      gap: 6px;
      width: 100%;

      &__label {
        font-size: 12px;
        line-height: 16px;
        color: #737373;
      }

      &__input {
        width: 100%;
        outline: none;
        border: 2px solid transparent;
        height: 44px;
        padding: 0 15px;
        transition: border-color 0.3s ease;
        box-sizing: border-box;

        &::placeholder {
          color: transparent;
          font-size: 15px;
          line-height: 20px;
          transition: color 0.3s ease;
        }

        &:focus {
          border-color: #2571b7;
        }

        &:focus::placeholder {
          color: #737373;
        }
      }

      &__input:focus + &__label {
        color: #2571b7;
      }
    }

    &__button {
      margin-top: 15px;
      width: 100%;
      border: none;
      outline: none;
      height: 52px;
      background-color: #00a4ef;
      font-size: 21px;
      line-height: 28px;
      color: #ffffff;
      font-weight: 400;
    }
  }
}
