* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  position: sticky;
  width: 100%;
  box-sizing: border-box;
  padding: 0 18px;
  background-color: #2571b7;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &__logo {
      display: none;
    }

    &__menu-burger {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &__line {
        background-color: #ffffff;
        width: 24px;
        height: 2px;
      }
    }

    &__buttons {
      &__lorem {
        color: #ffffff;
        background-color: transparent;
        border: none;
        font-size: 14px;
        line-height: 20px;

        &--common {
          display: none;
        }

        &--highlighted {
          background-color: #002050;
          padding: 5px 15px 4px;
        }
      }
    }
  }
}

.banner {
  background-image: url("assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 0 18px;

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: #ffffff;
    padding-top: 137px;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &__title {
        font-size: 42px;
        line-height: 56px;
        font-weight: 400;
      }

      &__subtitle {
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
        text-align: center;
      }
    }

    &__button {
      border: none;
      background-color: #00a4ef;
      font-size: 21px;
      line-height: 28px;
      padding: 12px 32px;
      color: #ffffff;
    }
  }

  &__bottom-icons {
    padding-top: 100px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__down-arrow {
      display: none;
    }

    &__logo {
      width: 130px;
      height: 39px;
    }
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  gap: 24px;
  color: #737373;
  margin-top: 60px;
  padding: 0 24px;

  &__first-p {
    &--highlight {
      color: #737373;
      font-weight: 400;
    }
  }
}

.targets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px 54px;
  margin-top: 33px;
  gap: 27px;

  &__title {
    font-size: 24px;
    line-height: 32px;
    color: #2571b7;
    font-weight: 400;
  }

  &__description {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #ffffff;

    &__element {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 21px 18px;
      gap: 11px;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 6px;

        &__title {
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
        }

        &__description {
          font-size: 12px;
          line-height: 18px;
        }
      }

      &--blue {
        background-color: #0072c6;
      }

      &--blue-night {
        background-color: #2c5898;
      }

      &--green {
        background-color: #207245;
      }

      &--red {
        background-color: #cb4a32;
      }

      &--purple {
        background-color: #733781;
      }

      &--blue-sky {
        background-color: #00aff0;
      }

      &:nth-last-child(-n + 4) {
        display: none;
      }
    }
  }
}

.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  padding: 0 18px;
  gap: 27px;

  &__title {
    font-size: 24px;
    font-weight: 400;
    color: #2571b7;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;

    &__element {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 18px;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        &__subtitle {
          font-size: 15px;
          line-height: 20px;
          font-weight: 400;

          &--hands {
            color: #7fba00;
          }

          &--shield {
            color: #00a4ef;
          }

          &--computer {
            color: #ffb900;
          }
        }

        &__divider-in {
          display: none;
        }

        &__description {
          font-size: 12px;
          line-height: 18px;
          color: #737373;
        }

        &__button {
          background-color: transparent;
          border: 1px solid;
          font-size: 12px;
          line-height: 16px;
          padding: 7px 6px;

          &--hands {
            color: #7fba00;
            border-color: #7fba00;
          }

          &--shield {
            color: #00a4ef;
            border-color: #00a4ef;
          }

          &--computer {
            color: #ffb900;
            border-color: #ffb900;
          }
        }
      }
    }
    &__divider-out {
      width: 100%;
      background-color: #dedede;
      height: 3px;
    }
  }
}

.boards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  margin-top: 60px;
  gap: 33px;

  &__title {
    justify-self: flex-start;
    font-size: 24px;
    line-height: 36px;
    height: 68px;
    color: #2571b7;
    font-weight: 400;
  }

  &__elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__element {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 18px;
      padding: 30px 24px;
      border: 3px solid #dedede;

      &:nth-last-child(-n + 3) {
        border-top: 0px;
      }

      &__subtitle {
        font-size: 15px;
        line-height: 20px;
        color: #f25022;
        font-weight: 400;
      }

      &__paragraph {
        text-align: center;
        font-size: 12px;
        line-height: 18px;
        color: #737373;
      }
    }
  }
}

.pannels {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 60px;

  &__image-mobile {
    width: 100%;
    height: auto;
  }

  &__image-desktop {
    display: none;
  }

  &__title {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    padding: 0 18px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 18px;
  margin-top: 60px;
  gap: 27px;
  width: 100%;
  box-sizing: border-box;

  &__description {
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    font-weight: 400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;
    padding: 15px 18px;
    max-width: 324px;
    width: 100%;
    background-color: #e6e6e6;
    box-sizing: border-box;

    &__field {
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;
      gap: 6px;
      width: 100%;

      &__label {
        font-size: 12px;
        line-height: 16px;
        color: #737373;
      }

      &__input {
        width: 100%;
        outline: none;
        border: 2px solid transparent;
        height: 44px;
        padding: 0 15px;
        transition: border-color 0.3s ease;
        box-sizing: border-box;
        font-size: 15px;
        line-height: 20px;

        &::placeholder {
          color: transparent;
          font-size: 15px;
          line-height: 20px;
          transition: color 0.3s ease;
        }

        &:focus {
          border-color: #2571b7;
        }

        &:focus::placeholder {
          color: #737373;
        }
      }

      &__input:focus + &__label {
        color: #2571b7;
      }
    }

    &__button {
      margin-top: 15px;
      width: 100%;
      border: none;
      outline: none;
      height: 52px;
      background-color: #00a4ef;
      font-size: 21px;
      line-height: 28px;
      color: #ffffff;
      font-weight: 400;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
  padding: 0 18px;
  margin-top: 80px;
  margin-bottom: 24px;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;

    &__logo {
      width: 130px;
      height: auto;
    }
  }

  &__copyright {
    font-size: 12px;
    line-height: 16px;
    color: #b4b4b4;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }

  .banner {
    padding: 0 60px;
  }

  .about {
    padding: 0 60px;
  }

  .targets {
    padding: 0 60px;
  }

  .badges {
    padding: 0 60px;
  }

  .boards {
    padding: 0 60px;
  }

  .pannels {
    width: 100%;
    max-height: 478px;
    overflow: hidden;

    &__image-mobile {
      height: fit-content;
      object-fit: cover;
      object-position: center;
    }

    &__title {
      padding: 0 60px;
      font-size: 36px;
      line-height: 50px;
    }
  }

  .contact {
    padding: 0 60px;
  }

  .footer {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 22px 120px 21px;

    &__nav {
      &__logo {
        display: block;
        width: 123.69px;
        height: auto;
      }

      &__menu-burger {
        display: none;
      }

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        &__lorem {
          font-size: 16px;
          line-height: 21px;

          &--common {
            display: block;
          }

          &--highlighted {
            padding: 8px 22px;
          }
        }
      }
    }
  }

  .banner {
    padding: 0 120px;

    &__message {
      align-items: flex-start;
      gap: 96px;
      padding-top: 200px;

      &__content {
        align-items: flex-start;

        &__title {
          font-size: 80px;
          line-height: 106px;
        }

        &__subtitle {
          font-size: 32px;
          line-height: 43px;
        }
      }

      &__button {
        font-size: 28px;
        line-height: 37px;
        padding: 15px 40px;
      }
    }

    &__bottom-icons {
      justify-content: space-between;
      padding-top: 158px;
      padding-bottom: 62px;

      &__down-arrow {
        display: block;
      }

      &__logo {
        width: 170px;
        height: auto;
      }
    }
  }

  .about {
    margin-top: 96px;
    padding: 0 120px;
    font-size: 20px;
    line-height: 30px;
    gap: 30px;

    &__first-p {
      &--highlight {
        color: #f25022;
        font-weight: 600;
      }
    }
  }

  .targets {
    margin-top: 96px;
    gap: 48px;
    padding: 0 120px;

    &__title {
      font-size: 40px;
      line-height: 53px;
    }

    &__description {
      font-size: 20px;
      line-height: 30px;
    }

    &__container {
      column-gap: 24px;
      row-gap: 24px;
      flex-direction: row;
      flex-wrap: wrap;

      &__element {
        padding: 20px 32px;
        gap: 20px;
        width: calc(50% - 88px);

        &__image {
          width: 64px;
          height: auto;
        }

        &__content {
          &__title {
            font-size: 20px;
            line-height: 30px;
          }

          &__description {
            font-size: 16px;
            line-height: 24px;
          }
        }

        &:nth-last-child(-n + 4) {
          display: flex;
        }

        &--blue-dark {
          background-color: #094ab2;
        }

        &--blue-water {
          background-color: #0093be;
        }

        &--purple-light {
          background-color: #5558af;
        }
      }
    }
  }

  .badges {
    margin-top: 96px;
    padding: 0 120px;
    gap: 48px;

    &__title {
      font-size: 40px;
      line-height: 53px;
    }

    &__container {
      gap: 48px;
      flex-direction: row;

      &__divider-out {
        display: none;
      }

      &__element {
        flex-direction: column;
        gap: 20px;

        &__image {
          width: 160px;
          height: auto;
        }

        &__text {
          align-items: center;
          justify-content: center;
          gap: 20px;

          &__subtitle {
            font-size: 20px;
            line-height: 27px;
          }

          &__description {
            text-align: center;
            font-size: 16px;
            line-height: 24px;
          }

          &__divider-in {
            display: block;
            width: 53px;
            height: 4px;
            background-color: #dedede;
            margin-top: -4px;
          }

          &__button {
            margin-top: 12px;
            border: 2px solid;
            padding: 8px 10px;
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
    }
  }

  .boards {
    padding: 0 120px;
    margin-top: 96px;
    gap: 48px;

    &__title {
      height: fit-content;
      font-size: 40px;
      line-height: 53px;
    }

    &__elements {
      flex-direction: row;

      &__element {
        gap: 24px;
        padding: 20px 15px;

        &__subtitle {
          font-size: 20px;
          line-height: 27px;
          text-align: center;
        }

        &__paragraph {
          font-size: 16px;
          line-height: 24px;
        }

        &:nth-last-child(-n + 3) {
          border-top: 3px solid #dedede;
          border-left: 0px;
        }
      }
    }
  }

  .pannels {
    margin-top: 96px;
    width: 100%;
    max-height: 320px;

    &__image-mobile {
      display: none;
    }

    &__image-desktop {
      display: block;
      width: 100%;
      height: fit-content;
      object-fit: cover;
      object-position: center;
    }

    &__title {
      padding: 0 120px;
      font-size: 48px;
      line-height: 64px;
    }
  }

  .contact {
    margin-top: 96px;
    padding: 0 120px;
    gap: 48px;

    &__description {
      font-size: 24px;
      line-height: 30px;
    }

    &__form {
      gap: 28px;
      padding: 32px 48px;
      max-width: 564px;

      &__field {
        gap: 8px;

        &__label {
          font-size: 14px;
          line-height: 30px;
        }

        &__input {
          padding: 0 20px;
          height: 56px;
          font-size: 20px;
          line-height: 30px;

          &::placeholder {
            font-size: 20px;
            line-height: 30px;
          }
        }

        &__button {
          margin-top: 20px;
          font-size: 28px;
          line-height: 37px;
        }
      }
    }
  }

  .footer {
    padding: 0 120px;
    margin-top: 96px;
    margin-bottom: 32px;
    gap: 23px;

    &__container {
      gap: 57px;

      &__logo {
        width: 179px;
        height: auto;
      }
    }

    &__copyright {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &__nav {
      &__buttons {
        gap: 71px;
        &__lorem {
          &--highlighted {
            margin-left: 35px;
          }
        }
      }
    }
  }

  .targets {
    &__container {
      column-gap: 48px;
    }
  }

  .badges {
    &__container {
      gap: 96px;
    }
  }

  .boards {
    &__elements {
      &__element {
        gap: 24px;
        padding: 40px 35px;
      }
    }
  }
}
