@use "variables" as var;

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font: var.$mobile-section-paragraph;
  gap: 24px;
  color: var.$secondary-neutral-color;
  margin-top: 60px;
  padding: 0 24px;

  &__first-p {
    &--highlight {
      color: var.$secondary-neutral-color;
      font-weight: 400;
    }
  }
}

@media screen and (min-width: 768px) {
  .about {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    margin-top: 96px;
    padding: 0 120px;
    font: var.$desktop-section-paragraph;
    gap: 30px;

    &__first-p {
      &--highlight {
        color: var.$highlight-color;
        font-weight: 600;
      }
    }
  }
}
