@use "variables" as var;

.badges {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  gap: 27px;

  &__title {
    font: var.$mobile-title;
    font-weight: 400;
    color: var.$heading-color;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 21px;

    &__element {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: center;
      gap: 18px;

      &__text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 18px;

        &__subtitle {
          font-size: 15px;
          line-height: 20px;
          font-weight: 400;

          &--hands {
            color: var.$badges-hands;
          }

          &--shield {
            color: var.$badges-shield;
          }

          &--computer {
            color: var.$badges-computer;
          }
        }

        &__divider-in {
          display: none;
        }

        &__description {
          font: var.$mobile-inner-description;
          color: var.$secondary-neutral-color;
        }

        &__button {
          background-color: transparent;
          border: 1px solid;
          font-size: 12px;
          line-height: 16px;
          padding: 7px 6px;
          transition: all 0.3s ease;

          &:hover {
            cursor: pointer;
            scale: 1.05;
          }

          &--hands {
            color: var.$badges-hands;
            border-color: var.$badges-hands;
          }

          &--shield {
            color: var.$badges-shield;
            border-color: var.$badges-shield;
          }

          &--computer {
            color: var.$badges-computer;
            border-color: var.$badges-computer;
          }
        }
      }
    }
    &__divider-out {
      width: 100%;
      background-color: var.$border-color;
      height: 3px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .badges {
    margin-top: 96px;
    gap: 48px;

    &__title {
      font: var.$desktop-title;
    }

    &__container {
      gap: 48px;
      flex-direction: row;

      &__divider-out {
        display: none;
      }

      &__element {
        flex-direction: column;
        gap: 20px;

        &__image {
          width: 160px;
          height: auto;
        }

        &__text {
          align-items: center;
          justify-content: center;
          gap: 20px;

          &__subtitle {
            font-size: 20px;
            line-height: 27px;
          }

          &__description {
            text-align: center;
            font: var.$desktop-inner-description;
          }

          &__divider-in {
            display: block;
            width: 53px;
            height: 4px;
            background-color: var.$border-color;
            margin-top: -4px;
          }

          &__button {
            margin-top: 12px;
            border: 2px solid;
            padding: 8px 10px;
            font-size: 16px;
            line-height: 21px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .badges {
    &__container {
      gap: 96px;
    }
  }
}
