.banner {
  background-image: url("../assets/images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 0 18px;

  &__message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    color: #ffffff;
    padding-top: 137px;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 24px;

      &__title {
        font-size: 42px;
        line-height: 56px;
        font-weight: 400;
      }

      &__subtitle {
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
        text-align: center;
      }
    }

    &__button {
      border: none;
      background-color: #00a4ef;
      font-size: 21px;
      line-height: 28px;
      padding: 12px 32px;
      color: #ffffff;
    }
  }

  &__bottom-icons {
    padding-top: 100px;
    padding-bottom: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__down-arrow {
      display: none;
    }

    &__logo {
      width: 130px;
      height: 39px;
    }
  }
}

@media screen and (min-width: 768px) {
  .banner {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .banner {
    padding: 0 120px;

    &__message {
      align-items: flex-start;
      gap: 96px;
      padding-top: 200px;

      &__content {
        align-items: flex-start;

        &__title {
          font-size: 80px;
          line-height: 106px;
        }

        &__subtitle {
          font-size: 32px;
          line-height: 43px;
        }
      }

      &__button {
        font-size: 28px;
        line-height: 37px;
        padding: 15px 40px;
      }
    }

    &__bottom-icons {
      justify-content: space-between;
      padding-top: 158px;
      padding-bottom: 62px;

      &__down-arrow {
        display: block;
      }

      &__logo {
        width: 170px;
        height: auto;
      }
    }
  }
}
