@use "variables" as var;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  box-sizing: border-box;
  padding: 0 18px;
  background-color: var.$heading-color;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &__logo {
      display: none;
    }

    &__menu-burger {
      display: flex;
      flex-direction: column;
      gap: 6px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      z-index: 210;
      transition: all 0.3s ease;

      &__line {
        background-color: var.$primary-neutral-color;
        width: 24px;
        height: 2px;
      }

      &[active] {
        display: none;
      }

      &:hover {
        scale: 1.05;
      }
    }

    &__close-menu {
      display: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 24px;
      line-height: 24px;
      color: var.$primary-neutral-color;
      z-index: 210;
      transition: transform 0.5s ease;

      &[active] {
        display: block;

        &:hover {
          transform: rotate(180deg);
          scale: 1.05;
        }
      }
    }

    &__buttons {
      &__lorem {
        color: var.$primary-neutral-color;
        background-color: transparent;
        border: none;
        font-size: 14px;
        line-height: 20px;
        transition: all 0.3s ease;

        &--common {
          display: none;

          &:hover {
            scale: 1.05;
            cursor: pointer;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 100%;
              height: 2px;
              background-color: var.$primary-neutral-color;
            }
          }
        }

        &--highlighted {
          background-color: var.$header-button-color;
          padding: 5px 15px 4px;

          &:hover {
            background-color: var.$header-button-hover-color;
            cursor: pointer;
            scale: 1.05;
          }
        }
      }
    }

    &__mobile-menu {
      position: fixed;
      top: 0;
      left: -100%;
      width: 60%;
      height: 100vh;
      background-color: var.$heading-color;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 60px;
      z-index: 200;
      transition: left 0.5s ease;

      &__logo {
        width: 100px;
        cursor: pointer;
      }

      &__buttons {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__lorem {
          color: var.$primary-neutral-color;
          background-color: transparent;
          border: none;
          font-size: 14px;
          line-height: 20px;
          transition: all 0.3s ease;

          &--common {
            &:hover {
              scale: 1.05;
              cursor: pointer;

              &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -10px;
                width: 100%;
                height: 2px;
                background-color: var.$primary-neutral-color;
              }
            }
          }

          &--highlighted {
            background-color: var.$header-button-color;
            padding: 5px 15px 4px;

            &:hover {
              background-color: var.$header-button-hover-color;
              cursor: pointer;
              scale: 1.05;
            }
          }
        }
      }

      &[active] {
        left: 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 22px 120px 21px;

    &__nav {
      &__logo {
        display: block;
        width: 123.69px;
        height: auto;
      }

      &__menu-burger {
        display: none;
      }

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        &__lorem {
          font-size: 16px;
          line-height: 21px;

          &--common {
            display: block;
          }

          &--highlighted {
            padding: 8px 22px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &__nav {
      &__buttons {
        gap: 71px;
        &__lorem {
          &--highlighted {
            margin-left: 35px;
          }
        }
      }
    }
  }
}
