@use "variables" as var;

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  box-sizing: border-box;
  padding: 0 18px;
  background-color: var.$heading-color;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;

    &__logo {
      display: none;
    }

    &__menu-burger {
      display: flex;
      flex-direction: column;
      gap: 6px;

      &__line {
        background-color: var.$primary-neutral-color;
        width: 24px;
        height: 2px;
      }
    }

    &__buttons {
      &__lorem {
        color: var.$primary-neutral-color;
        background-color: transparent;
        border: none;
        font-size: 14px;
        line-height: 20px;
        transition: all 0.3s ease;

        &--common {
          display: none;

          &:hover {
            scale: 1.05;
            cursor: pointer;

            &::after {
              content: "";
              position: absolute;
              left: 0;
              bottom: -10px;
              width: 100%;
              height: 2px;
              background-color: var.$primary-neutral-color;
            }
          }
        }

        &--highlighted {
          background-color: var.$header-button-color;
          padding: 5px 15px 4px;

          &:hover {
            background-color: var.$header-button-hover-color;
            cursor: pointer;
            scale: 1.05;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 22px 120px 21px;

    &__nav {
      &__logo {
        display: block;
        width: 123.69px;
        height: auto;
      }

      &__menu-burger {
        display: none;
      }

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;

        &__lorem {
          font-size: 16px;
          line-height: 21px;

          &--common {
            display: block;
          }

          &--highlighted {
            padding: 8px 22px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    &__nav {
      &__buttons {
        gap: 71px;
        &__lorem {
          &--highlighted {
            margin-left: 35px;
          }
        }
      }
    }
  }
}
