@use "variables" as var;

.targets {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0 54px;
  margin-top: 33px;
  gap: 27px;

  &__title {
    font-size: var.$mobile-title;
    color: var.$heading-color;
    font-weight: 400;
  }

  &__description {
    text-align: center;
    font: var.$mobile-section-paragraph;
    color: var.$secondary-neutral-color;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: var.$primary-neutral-color;

    &__element {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 21px 18px;
      gap: 11px;

      &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 6px;

        &__title {
          font-size: 18px;
          line-height: 24px;
          font-weight: 400;
        }

        &__description {
          font: var.$mobile-inner-description;
        }
      }

      &--blue {
        background-color: var.$target-blue;
      }

      &--blue-night {
        background-color: var.$target-blue-night;
      }

      &--green {
        background-color: var.$target-green;
      }

      &--red {
        background-color: var.$target-red;
      }

      &--purple {
        background-color: var.$target-purple;
      }

      &--blue-sky {
        background-color: var.$target-blue-sky;
      }

      &:nth-last-child(-n + 4) {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .targets {
    margin-top: 96px;
    gap: 48px;

    &__title {
      font: var.$desktop-title;
    }

    &__description {
      font: var.$desktop-section-paragraph;
    }

    &__container {
      column-gap: 24px;
      row-gap: 24px;
      flex-direction: row;
      flex-wrap: wrap;

      &__element {
        padding: 20px 32px;
        gap: 20px;
        width: calc(50% - 88px);

        &__image {
          width: 64px;
          height: auto;
        }

        &__content {
          &__title {
            font-size: 20px;
            line-height: 30px;
          }

          &__description {
            font: var.$desktop-inner-description;
          }
        }

        &:nth-last-child(-n + 4) {
          display: flex;
        }

        &--blue-dark {
          background-color: var.$target-blue-dark;
        }

        &--blue-water {
          background-color: var.$target-blue-water;
        }

        &--purple-light {
          background-color: var.$target-purple-light;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .targets {
    &__container {
      column-gap: 48px;
    }
  }
}
