// Colors
$primary-neutral-color: #ffffff;
$secondary-neutral-color: #737373;

$heading-color: #2571b7;
$header-button-color: #002050;
$header-button-hover-color: #003f9e;
$button-color: #00a4ef;
$button-hover-color: #00bbff;
$highlight-color: #f25022;
$forms-background-color: #e6e6e6;
$copyright-color: #b4b4b4;
$border-color: #dedede;

$target-blue: #0072c6;
$target-blue-night: #2c5898;
$target-blue-sky: #00aff0;
$target-blue-dark: #094ab2;
$target-blue-water: #0093be;
$target-green: #207245;
$target-red: #cb4a32;
$target-purple: #733781;
$target-purple-light: #5558af;

$badges-hands: #7fba00;
$badges-shield: #00a4ef;
$badges-computer: #ffb900;

// Text
$desktop-section-paragraph: 20px/30px "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
$desktop-inner-description: 16px/24px "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
$desktop-title: 40px/53px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

$mobile-section-paragraph: 15px/24px "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
$mobile-inner-description: 12px/18px "Segoe UI", Tahoma, Geneva, Verdana,
  sans-serif;
$mobile-title: 24px/32px "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
