@use "header";
@use "banner";
@use "about";
@use "targets";
@use "badges";
@use "boards";
@use "pannels";
@use "contact";
@use "footer";
@use "variables" as var;

* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 0 18px;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  &[active] {
    display: block;
    // z-index: 150;
  }
}

.toast {
  position: fixed;
  top: 16px;
  right: 16px;
  background-color: transparent;
  color: var.$primary-neutral-color;
  padding: 16px 24px;
  border-radius: 16px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, top 0.5s ease;
  z-index: 300;
  text-align: center;
  font-size: 24px;

  &.show {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, top 0.5s ease;

    &.success {
      background-color: var.$success-color;
    }

    &.error {
      background-color: var.$error-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 60px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 120px;
  }
}
